footer.footer
    .container
        .row.footer__row
            .footer__col
                .footer__info Sign up to receive daily manually selected recipes, delicious weekly articles, 3-piece sets of slow cooker, vegetarian, and lunch ideas, plus Quick&Easy recipes and Nutrition Value flashcards via email.
            .footer__col
                form(action="").footer__form.form
                    .form__input
                        input(type="email" id="email" name="email" placeholder="Enter you email")
                        span(id="valid")
                    .form__button
                        button.btn-gradient(id="submit")
                            span
                                b Sign up
                    .form__aggree By signing up I agree to the terms of the
                        a(href="javascript:;") Privacy Policy
        .footer__copyright © 2014–2018 TastyCookery.com