header.header
    .container
        .row
            .header__col.header__content
                a.header__logo(href="javascript:;")
                    img.header__img(src="./imgs/logo.png")
                h1.header__h1 домашние Простые рецепты
                .header__text Собирайте рецепты в recipe box
                .header__button
                    a.btn-gradient.js-scroll(href="javascript:;" data-to="form")
                        span
                            b Присоединиться к сообществу
            .header__col
                .header__woman
                    img(src="imgs/woman.png" alt="woman")
