//Цвета макета
$primary-color: #E92E27;
$text-color: #242424;

$gray-color: #84828D;
$light-color: #F2F2F2;

// Размер шрифта
$font-size-base: 16px;

 
// Шрифты
$add-font: 'Circe', sans-serif;
$body-font: 'Circe', sans-serif;
$headers-font: 'Circe', sans-serif;